
<div class="content-main">
     <div class="content">
        <div class="header">
            <input type="text" [formControl]="searchControl" placeholder="Search..." class="search-input">
            <button class="add-button">Agregar</button>
          </div>
          <div class="table-container">
              
              <table class="data-table">
                <thead>
                  <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de Liberación</th>
                    <th>Fecha de reestructuración</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of filterProduct">
                    <td><div class="logo"><img class="logo-img" src="{{product.logo}}" alt="{{product.name}}"></div></td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.date_release}}</td>
                    <td>{{product.date_revision}}</td>
                    <td><button class="more-options">⋮</button></td>
                  </tr>
                </tbody>
              </table>
            
              <div class="footer">
                <p>{{listProduct.length}} dato(s) encontrado(s)</p>
                <select (change)="onSelected($event)">
                  <option *ngIf="listCuantity.length === 0" disabled>Sin opciones disponibles</option>
                  <option *ngFor="let quantity of listCuantity" [value]="quantity">{{quantity}}</option>
          
                </select>

              </div>
            </div>
    </div>
</div>
